<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8"/>
		<title>Optimus Prime | Países</title>
	</head>
	
	<body>
		<h1>Optimus Prime</h1>
		
		<hr/>
		
		<h2>Listagem de países</h2>
		<small>Todos os países em que o aplicativo funciona</small>
		
		<hr/>
		
		<ul>
			<li th:each="pais: ${paises}">
				<span th:text="${pais.getNome()}">
			</li>
		<ul>
	</body>
	
</html>