<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8"/>
		<title>Optimus Prime | Cargos de usuários</title>
	</head>
	
	<body>
		<h1>Optimus Prime</h1>
		
		<hr/>
		
		<h2>Criação de empresas</h2>
		<small>Crie uma empresa associada à Scania</small>
		
		<hr/>
	
		<form action="#" th:action="@{/empresas/criar}" method="POST" th:object="${empresa}">
			<label>ID</label>
			<input type="text" th:field="*{id}"/><br/>
			
			<label>Nome</label>
			<input type="text" th:field="*{nome}"/><br/>
			
			<label>Desconto</label>
			<input type="text" th:field="*{desconto}"/><br/>
			
			<label>Estado</label>
			<select th:field="*{estadoId}">
				<option value="0">Selecione um estado</option>
				<option th:each="estado : ${estados}" th:value="${estado.key}" th:text="${estado.value.getNome()} + ' (' + ${estado.value.getPais().getNome()} + ')'"></option>
			</select>
			
			<input type="submit" value="Criar" />
		</form>
	</body>
</html>