<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8"/>
		<title>Optimus Prime | Cargos de usuários</title>
	</head>
	
	<body>
		<h1>Optimus Prime</h1>
		
		<hr/>
		
		<h2>Listagem das empresas</h2>
		<small>Todos as empresas que se cadastraram no aplicativo</small>
		
		<hr/>
		
		<table>
			<tr>
				<th style="text-align:left;">ID</th>
				<th style="text-align:left;">Nome</th>
				<th style="text-align:left;">Desconto</th>
				<th style="text-align:left;">ID Estado</th>
			</tr>
			
			<tr th:each="empresa: ${empresas}">
				<td th:text="${empresa.getId()}"></td>
				<td th:text="${empresa.getNome()}"></td>
				<td th:text="${empresa.getDesconto()}"></td>
				<td th:text="${empresa.getEstadoId()}"></td>
			</tr>
		</table>
	</body>
	
</html>